@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>ONLINE AUCTION SYSTEM</h1>
</div>
<img src="../Images/Auction-hammer-760x400.jpg" height=550 ; width=1135 />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Get registered to get started and enjoy the facilities of online auction system.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Bid your Products here</h2>
        
    </div>
</div>